<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /wiki/

  # /wiki/ -> Redirect to: /wiki/メインページ
  RewriteRule ^$ メインページ [L,R]
</IfModule>

# Enable content negotiation
Options +MultiViews

# Do not generate autoindex
Options -Indexes
